body {
  width: 100%;
  /* border: black; */
  /* border-style: solid; */
  padding: 0px;
  margin: 0px;
}
.container {
  /* width: 100%; */
  /* padding: 10px; */
  /* margin: 0px; */
  /* border: solid; */
  border-radius: 25px;
  border-color: black;
}

.card {
  border: rgba(92, 104, 126, 0.288);
  border-width: 1px;
  /* border-style: solid; */
  border-radius: 10px;
  width: auto;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 40px;
  text-align: center;
  box-shadow: 1px 1px 10px 2px rgba(146, 149, 153, 0.452);
}

.img-circle {
  background-color: coral;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  
}

.btn {
  background: rgb(39, 49, 242);
  color: white;
  border: none;
  border-radius: 50px;
  width: 25%;
  padding: 10px;
  height: 45px;
}

.btn:hover {
  background: rgb(53, 69, 242);
  color: white;
  border: none;
  border-radius: 50px;
  width: 25%;
  padding: 10px;
  height: 45px;
  transition-delay: 100ms;
}

/* TODO: Add Emojis as type list */
.geo-icon {  
  text-align: left;
}