@import url('https://fonts.googleapis.com/css?family=Inconsolata:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inconsolata";
    color: white;
}

html, body {
    min-height: 100%;
}

body {
    /* background: linear-gradient(rgb(5, 26, 85),rgb(123, 138, 158)); */
    /* background: linear-gradient(rgb(62, 68, 148),rgb(1, 8, 12)); */
    background: linear-gradient(rgb(13, 19, 29),rgb(48, 47, 59));
    background-repeat: no-repeat;
}

p {
    margin: 16px auto;
    line-height: 1.sem;
}

/* layout & nav */
/* .layout {
    max-width: 1300px;
    margin: 0 auto;
} */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    background-color: orange;
}

nav .links {
    display: inline-block;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-color: rgb(255, 255, 255);
}

footer p {
    text-align: center;
    color: aliceblue;
    margin: 40px auto;
}

